<div class="wrapper">
  <div class="col">
    <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="startNode">
      <!-- TODO: insert icon here -->
      <span> Start Node</span>
    </div>
    <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="endNode">
      <!-- TODO: insert icon here -->
      <span> End Node</span>
    </div>
    <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="decisionNode">
      <!-- TODO: insert icon here -->
      <span> Decision Node</span>
    </div>
    <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="multiNode">
      <!-- TODO: insert icon here -->
      <span> Multiple inputs/outputs</span>
    </div>
  </div>

  <div class="col-right">
    <!-- TODO: Remove this and move it to the side of the screen -->
    <div class="menu">
      <ul>
        <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Sandbox</li>
      </ul>
    </div>
    <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)">

      <div class="btn-export" (click)="export()">Export</div>
      <div class="btn-clear" (click)="onClear()">Clear</div>
      <div class="btn-lock">
        <!-- TODO: Add icons classes -->
        <i id="lock" class="" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
        <i id="unlock" class="" onclick="editor.editor_mode='edit'; changeMode('unlock');"
          style="display:none;"></i>
      </div>
      <div class="bar-zoom">
        <!-- TODO: Add icons classes -->
        <i class="" (click)="onZoomOut()"></i>
        <i class="" (click)="onZoomReset()"></i>
        <i class="" (click)="onZoomIn()"></i>
      </div>
    </div>
  </div>
</div>

